.container {display: grid;
grid-template-rows: 100px 100px 100px 100px;
grid-template-columns: 100px 100px 100px;
}
.du {background-color: orange;
    grid-area: 1 / 2 / 3 / 2;
}
.vienas {


}
.trys {


}

.keturi{


}

.penki{


}

.sesi{


}