.button {
    padding: 10px 20px;
    background-color: #ff6a3e;
    color: white;
    border: none;
    border-radius: 5px;
    /* property name | duration | easing function */
    transition: background-color 0.3s ease;
    /* arba */
    /* transition: 0.3s */
}

.button:hover {
    background-color: #ffba43; /*keicia spalva*/

            width: 100px; /*keicia dydi*/
            height: 100px;
            animation: example 3s infinite alternate;}

            .button:active {
                transform: scale(0.95)} /*spustelejimo efektas*/           

