$primary-color:green;
$seconday-color:yellow;

/*@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
background-color:orange;}